NodeRed_JSON_EXPORTED.json
[
    {
        "id": "ba7a3de1e89f14b0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c6631def773dc2c",
        "type": "mqtt in",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "topic": "Nora/DHT/Humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12a07d6b3b0bd291",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 600,
        "wires": [
            [
                "1a65f428f6168342",
                "04bc8cbb5d0ec446",
                "115b8a6bf671b486",
                "aff2daf88bb1e14c"
            ]
        ]
    },
    {
        "id": "5dc6e1c0d57265ac",
        "type": "mqtt in",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "topic": "Nora/DHT/Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12a07d6b3b0bd291",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 740,
        "wires": [
            [
                "20772de086ea4852",
                "bc2e76d98b765065",
                "04bc8cbb5d0ec446",
                "115b8a6bf671b486"
            ]
        ]
    },
    {
        "id": "1a65f428f6168342",
        "type": "ui_gauge",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "e10326b17fd78f12",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "20772de086ea4852",
        "type": "ui_gauge",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "e10326b17fd78f12",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#002aff",
            "#04ff00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "308bf15db26ac67b",
        "type": "mqtt in",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "topic": "Nora/lightintensity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12a07d6b3b0bd291",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 860,
        "wires": [
            [
                "d6ef1b71fa7f4ca8",
                "0f31cbb43c5d523d",
                "04bc8cbb5d0ec446",
                "115b8a6bf671b486"
            ]
        ]
    },
    {
        "id": "d6ef1b71fa7f4ca8",
        "type": "ui_gauge",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "e10326b17fd78f12",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 820,
        "wires": []
    },
    {
        "id": "0f31cbb43c5d523d",
        "type": "ui_chart",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "3afee42033fa8eb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Light Intensity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#8606fe",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "bc2e76d98b765065",
        "type": "ui_chart",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "3afee42033fa8eb4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "04bc8cbb5d0ec446",
        "type": "join",
        "z": "ba7a3de1e89f14b0",
        "name": "Sensor Value",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 740,
        "y": 500,
        "wires": [
            [
                "2d084089be0cb9b8"
            ]
        ]
    },
    {
        "id": "115b8a6bf671b486",
        "type": "join",
        "z": "ba7a3de1e89f14b0",
        "name": "arraydata",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "5cfa3b01240661ca",
                "7190225f5fc5e8c4"
            ]
        ]
    },
    {
        "id": "7190225f5fc5e8c4",
        "type": "debug",
        "z": "ba7a3de1e89f14b0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "6247c9bddd1bbc98",
        "type": "mqtt in",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "topic": "Nora/moisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12a07d6b3b0bd291",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 940,
        "wires": [
            [
                "af4901efe554721f",
                "6271fc7c88b45951",
                "04bc8cbb5d0ec446",
                "115b8a6bf671b486"
            ]
        ]
    },
    {
        "id": "af4901efe554721f",
        "type": "ui_gauge",
        "z": "ba7a3de1e89f14b0",
        "name": "Moisture",
        "group": "e10326b17fd78f12",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 940,
        "wires": []
    },
    {
        "id": "6271fc7c88b45951",
        "type": "ui_chart",
        "z": "ba7a3de1e89f14b0",
        "name": "Moisture chart",
        "group": "3afee42033fa8eb4",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Moisture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "5258ab8d97190ceb",
        "type": "mqtt out",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "topic": "/LEDControl",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12a07d6b3b0bd291",
        "x": 1350,
        "y": 1220,
        "wires": []
    },
    {
        "id": "297ef3cbf84bc194",
        "type": "ui_switch",
        "z": "ba7a3de1e89f14b0",
        "name": "LED Switch",
        "label": "",
        "tooltip": "",
        "group": "e888536baa010ba7",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "/LEDControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 1220,
        "wires": [
            [
                "5258ab8d97190ceb"
            ]
        ]
    },
    {
        "id": "8d5261a9ff540298",
        "type": "ui_button",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "e888536baa010ba7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED-on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "/LEDControl",
        "topicType": "msg",
        "x": 1060,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "5729957f1515314e",
        "type": "ui_button",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "e888536baa010ba7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED-off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "/LEDControl",
        "topicType": "msg",
        "x": 1060,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "5cfa3b01240661ca",
        "type": "GSheet",
        "z": "ba7a3de1e89f14b0",
        "creds": "f19948172c06d1e0",
        "method": "append",
        "action": "",
        "sheet": "1s9I0AZ0RR7k3tXP8CuUS9dslCHy_aAWoV1l1CUHk8CE",
        "cells": "Sheet2!A2:A1000",
        "flatten": false,
        "name": "",
        "x": 910,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0b65484b3cff375b",
        "type": "GSheet",
        "z": "ba7a3de1e89f14b0",
        "creds": "b730a3717e43ee58",
        "method": "append",
        "action": "",
        "sheet": "1-j7n5b2Yu4JmrhEjP5iTk4E5S9Ck8z6EzTw9L8sIw78",
        "cells": "Sheet1!A2:A1000",
        "flatten": false,
        "name": "humiditydatatest",
        "x": 1020,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "2d084089be0cb9b8",
        "type": "influxdb out",
        "z": "ba7a3de1e89f14b0",
        "influxdb": "150906239d90f7cb",
        "name": "sensordata to influxdb",
        "measurement": "sensor value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "IoTProject",
        "bucket": "node-red",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "09625e3ad5d9c94f",
        "type": "influxdb out",
        "z": "ba7a3de1e89f14b0",
        "influxdb": "150906239d90f7cb",
        "name": "Humidity to InfluxDB",
        "measurement": "humidity-value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "IoTProject",
        "bucket": "node-red",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "15cd4a08b09b5989",
        "type": "mqtt in",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "topic": "PICTURE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12a07d6b3b0bd291",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1480,
        "wires": [
            [
                "5515433cc7d87c7f"
            ]
        ]
    },
    {
        "id": "c9ead4e36795efc2",
        "type": "mqtt out",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "topic": "FLASH",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12a07d6b3b0bd291",
        "x": 780,
        "y": 1280,
        "wires": []
    },
    {
        "id": "82ec4b0562bb2672",
        "type": "mqtt out",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "topic": "TAKE",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12a07d6b3b0bd291",
        "x": 790,
        "y": 1160,
        "wires": []
    },
    {
        "id": "7ba6ad94ec794b8a",
        "type": "ui_button",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "e888536baa010ba7",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Capture Image with Flash",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "FLASH",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "c9ead4e36795efc2"
            ]
        ]
    },
    {
        "id": "7d53350cac765e08",
        "type": "ui_button",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "e888536baa010ba7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Capture Image without Flash",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TAKE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 1160,
        "wires": [
            [
                "82ec4b0562bb2672"
            ]
        ]
    },
    {
        "id": "a710307d55e5c1f0",
        "type": "ui_template",
        "z": "ba7a3de1e89f14b0",
        "group": "e888536baa010ba7",
        "name": "Image View",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "5515433cc7d87c7f",
        "type": "base64",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 400,
        "y": 1480,
        "wires": [
            [
                "a710307d55e5c1f0"
            ]
        ]
    },
    {
        "id": "aff2daf88bb1e14c",
        "type": "ui_chart",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "3afee42033fa8eb4",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f1e8268eb80675d0",
        "type": "mqtt out",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "topic": "/PUMPControl",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12a07d6b3b0bd291",
        "x": 1380,
        "y": 1500,
        "wires": []
    },
    {
        "id": "f1a5af42a3e0ccb0",
        "type": "ui_button",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "e888536baa010ba7",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pump-on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "/PUMPControl",
        "topicType": "msg",
        "x": 1060,
        "y": 1520,
        "wires": [
            [
                "f1e8268eb80675d0"
            ]
        ]
    },
    {
        "id": "5fbbcfa72bf7f36e",
        "type": "ui_button",
        "z": "ba7a3de1e89f14b0",
        "name": "",
        "group": "e888536baa010ba7",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pump-off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "/PUMPControl",
        "topicType": "msg",
        "x": 1060,
        "y": 1580,
        "wires": [
            [
                "f1e8268eb80675d0"
            ]
        ]
    },
    {
        "id": "12a07d6b3b0bd291",
        "type": "mqtt-broker",
        "name": "hivecloud",
        "broker": "beb8fb0b8c314776bf8d0bcc647382b5.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "a3b9e8d472db5d9e",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e10326b17fd78f12",
        "type": "ui_group",
        "name": "Sensor Signal",
        "tab": "36564ed106e4c46d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3afee42033fa8eb4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "36564ed106e4c46d",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e888536baa010ba7",
        "type": "ui_group",
        "name": "LED Control",
        "tab": "36564ed106e4c46d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f19948172c06d1e0",
        "type": "gauth",
        "name": "nora-serve-account@iot-plant-443219.iam.gserviceaccount.com"
    },
    {
        "id": "b730a3717e43ee58",
        "type": "gauth",
        "name": "nora-serve-account@iot-plant-443219.iam.gserviceaccount.com"
    },
    {
        "id": "150906239d90f7cb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB-1",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://eu-central-1-1.aws.cloud2.influxdata.com/",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "a3b9e8d472db5d9e",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "isrgrootx1.pem",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "36564ed106e4c46d",
        "type": "ui_tab",
        "name": "IoT Plant Watering System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]